*, html {
    font-size: 12pt; 
    margin: 0;
    font-family: Tahoma, Geneva, sans-serif; 
}

main {
    width: 40vw; 
    height: inherit; 
    margin: 0 auto; 
    line-height: 1.5;
    background: white; 
}

/* Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: -0.5px;
    margin: 2rem 0rem 1rem 0rem; 
    line-height: 1.2;
}

h1 {
    font-size: 2.5rem; 
}

h2 {
    font-size: 34px;
}


/* paragraph */
p {
  margin: 1.5rem 0rem;
}

/* List */
ul, ol {
    margin: 1rem 0rem;
    
}

ul li, ol li {
    margin: 1rem 0rem 1rem 0rem;
}

/* Figure */
figure { 
    display: flex; 
    margin: 4rem 0rem;
    flex-direction: column; 
    align-items: center; 
    width: inherit; 
} 

figure img {
    margin: 0rem;
    max-width: inherit; 
    max-width: 400px; 
}

figure figcaption {
    font-size: 0.9rem; 
    padding: 0.25rem;
    color: rgb(56, 56, 56); 
    font-family: Arial, Helvetica, sans-serif; 
}

figure figcaption a {
    color: rgb(50, 50, 50); 
    font-size: inherit; 
}

article header div img  {
    width: 100%; 
    height: auto; 
    
}

/* anchor, link */

/* Quotes */
q {
    quotes: '"' '"' "'" "'";
    letter-spacing: 0.5px; 
    line-height: 1;
    font-family: Georgia, serif;
}

q::before {
    content: open-quote;
    font-size: 1.5rem;
}

q:after {
    content: close-quote; 
    font-size: 1.5rem;
}

/* Footer */
footer {
    display: flex;
    flex-direction: row; 
    border-top: 1px gray solid;  
    width: 100%;
    margin-top: 2rem;
    padding: 1rem 0rem 0rem 0.5rem; 

}

footer .author span {
    vertical-align: middle; 
    line-height: 2rem;
}

footer img {
    width: 50px; 
    border-radius: 100%; 
}


